/**/debug/
/**/release/
Makefile*
moc_*.cpp
qrc_*.cpp
ui_*.h
Thumbs.db
*.[oa]
*~
*.exe
object_script.*
/**/*.pdb
*.pro.user*
/**/GeneratedFiles/*.h
QuickAuthService/**/
*.pdb
*.suo
**/Release/*.*
**/Debug/*.*
**/Win32/**/*.*
QuickAuthApplication/Release/*.*

#Ignore files build by Visual Studio
*.opensdf
*.sdf
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*tlog
*.vcxproj
*.vcxproj.filters
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.svn/*
*/.svn/*
#Project files
[Bb]uild/
*.ipch


#other files
build/
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult
[Bb]uild[Ll]og.*
*.swp
*.userprefs
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*.pidb
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.[Rr]e[Ss]harper
*.zip
*.[Pp]ublish.xml
*.tlog